@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-20: var(--neutral-20);
  --color-neutral-30: var(--neutral-30);
  --color-neutral-40: var(--neutral-40);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-60: var(--neutral-60);
  --color-neutral-70: var(--neutral-70);
  --color-neutral-80: var(--neutral-80);
  --color-neutral-90: var(--neutral-90);
  --color-neutral-100: var(--neutral-100);
  --color-primary-main: var(--primary-main);
  --color-primary-surface: var(--primary-surface);
  --color-primary-border: var(--primary-bordern);
  --color-primary-hover: var(--primary-hover);
  --color-primary-pressed: var(--primary-pressed);
  --color-primary-focus: var(--primary-focus);
  --color-secondary-main: var(--secondary-main);
  --color-secondary-border: var(--secondary-border);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-pressed: var(--secondary-pressed);
  --color-secondary-focus: var(--secondary-focus);
  --color-danger-main: var(--danger-main);
  --color-danger-surface: var(--danger-surface);
  --color-danger-border: var(--danger-border);
  --color-danger-hover: var(--danger-hover);
  --color-danger-pressed: var(--danger-pressed);
  --color-danger-focus: var(--danger-focus);
  --color-warning-main: var(--warning-main);
  --color-warning-surface: var(--warning-surface);
  --color-warning-border: var(--warning-border);
  --color-warning-hover: var(--warning-hover);
  --color-warning-pressed: var(--warning-pressed);
  --color-warning-pressed-2: var(--warning-pressed-2);
  --color-success-main: var(--success-main);
  --color-success-surface: var(--success-surface);
  --color-success-border: var(--success-border);
  --color-success-hover: var(--success-hover);
  --color-success-pressed: var(--success-pressed);
  --color-success-pressed-2: var(--success-pressed-2);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --neutral-10: #ffffff;
  --neutral-20: #fafafa;
  --neutral-30: #ededed;
  --neutral-40: #e0e0e0;
  --neutral-50: #c2c2c2;
  --neutral-60: #9e9e9e;
  --neutral-70: #757575;
  --neutral-80: #616161;
  --neutral-90: #404040;
  --neutral-100: #1d1f20;
  --primary-main: #01959f;
  --primary-surface: #f3fbfc;
  --primary-border: #4db5bc;
  --primary-hover: #01777f;
  --primary-pressed: #01595f;
  --primary-focus: #01959f33;
  --secondary-main: #fbc037;
  --secondary-surface: #fffcf5;
  --secondary-border: #feeabc;
  --secondary-hover: #f8a92f;
  --secondary-pressed: #fa9810;
  --secondary-focus: #fbc03733;
  --danger-main: #e01428;
  --danger-surface: #fff9fa;
  --danger-border: #f5b1b7;
  --danger-hover: #bc1121;
  --danger-pressed: #700a14;
  --danger-focus: #e0142833;
  --warning-main: #ca7336;
  --warning-surface: #fcf7f3;
  --warning-border: #feb17b;
  --warning-hover: #b1652f;
  --warning-pressed: #985628;
  --warning-pressed-2: #ca733633;
  --success-main: #43936c;
  --success-surface: #f7f7f7;
  --success-border: #b8dbca;
  --success-hover: #367a59;
  --success-pressed: #20573d;
  --success-pressed-2: #73191233;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* font-custom */
  --font-size-xs-regular: 10px;
  --line-height-xs-regular: 16px;
  --font-weight-xs-regular: 400;

  --font-size-xs-bold: 10px;
  --line-height-xs-bold: 16px;
  --font-weight-xs-bold: 700;

  --font-size-s-regular: 12px;
  --line-height-s-regular: 20px;
  --font-weight-s-regular: 400;

  --font-size-s-bold: 12px;
  --line-height-s-bold: 20px;
  --font-weight-s-bold: 700;

  --font-size-m-regular: 14px;
  --line-height-m-regular: 24px;
  --font-weight-m-regular: 400;

  --font-size-m-bold: 14px;
  --line-height-m-bold: 24px;
  --font-weight-m-bold: 700;

  --font-size-l-regular: 16px;
  --line-height-l-regular: 28px;
  --font-weight-l-regular: 400;

  --font-size-l-bold: 16px;
  --line-height-l-bold: 28px;
  --font-weight-l-bold: 700;

  --font-size-heading-s-regular: 20px;
  --line-height-heading-s-regular: 32px;
  --font-weight-heading-s-regular: 400;

  --font-size-heading-s-bold: 20px;
  --line-height-heading-s-bold: 32px;
  --font-weight-heading-s-bold: 700;

  --font-size-heading-m-regular: 24px;
  --line-height-heading-m-regular: 36px;
  --font-weight-heading-m-regular: 400;

  --font-size-heading-m-bold: 24px;
  --line-height-heading-m-bold: 36px;
  --font-weight-heading-m-bold: 700;

  --font-size-heading-l-regular: 32px;
  --line-height-heading-l-regular: 44px;
  --font-weight-heading-l-regular: 400;

  --font-size-heading-l-bold: 32px;
  --line-height-heading-l-bold: 44px;
  --font-weight-heading-l-bold: 700;

  --font-size-display-bold: 48px;
  --line-height-display-bold: 64px;
  --font-weight-display-bold: 700;
}

body {
  /* background: var(--background); */
  background-color: #fafafa;
  font-family: "Nunito Sans", sans-serif;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .text-xs-regular {
    font-size: var(--font-size-xs-regular);
    line-height: var(--line-height-xs-regular);
    font-weight: var(--font-weight-xs-regular);
  }

  .text-xs-bold {
    font-size: var(--font-size-xs-bold);
    line-height: var(--line-height-xs-bold);
    font-weight: var(--font-weight-xs-bold);
  }

  .text-s-regular {
    font-size: var(--font-size-s-regular);
    line-height: var(--line-height-s-regular);
    font-weight: var(--font-weight-s-regular);
  }

  .text-s-bold {
    font-size: var(--font-size-s-bold);
    line-height: var(--line-height-s-bold);
    font-weight: var(--font-weight-s-bold);
  }

  .text-m-regular {
    font-size: var(--font-size-m-regular);
    line-height: var(--line-height-m-regular);
    font-weight: var(--font-weight-m-regular);
  }

  .text-m-bold {
    font-size: var(--font-size-m-bold);
    line-height: var(--line-height-m-bold);
    font-weight: var(--font-weight-m-bold);
  }

  .text-l-regular {
    font-size: var(--font-size-l-regular);
    line-height: var(--line-height-l-regular);
    font-weight: var(--font-weight-l-regular);
  }

  .text-l-bold {
    font-size: var(--font-size-l-bold);
    line-height: var(--line-height-l-bold);
    font-weight: var(--font-weight-l-bold);
  }

  .heading-s-regular {
    font-size: var(--font-size-heading-s-regular);
    line-height: var(--line-height-heading-s-regular);
    font-weight: var(--font-weight-heading-s-regular);
  }

  .heading-s-bold {
    font-size: var(--font-size-heading-s-bold);
    line-height: var(--line-height-heading-s-bold);
    font-weight: var(--font-weight-heading-s-bold);
  }

  .heading-m-regular {
    font-size: var(--font-size-heading-m-regular);
    line-height: var(--line-height-heading-m-regular);
    font-weight: var(--font-weight-heading-m-regular);
  }

  .heading-m-bold {
    font-size: var(--font-size-heading-m-bold);
    line-height: var(--line-height-heading-m-bold);
    font-weight: var(--font-weight-heading-m-bold);
  }

  .heading-l-regular {
    font-size: var(--font-size-heading-l-regular);
    line-height: var(--line-height-heading-l-regular);
    font-weight: var(--font-weight-heading-l-regular);
  }

  .heading-l-bold {
    font-size: var(--font-size-heading-l-bold);
    line-height: var(--line-height-heading-l-bold);
    font-weight: var(--font-weight-heading-l-bold);
  }

  .display-bold {
    font-size: var(--font-size-display-bold);
    line-height: var(--line-height-display-bold);
    font-weight: var(--font-weight-display-bold);
  }
}
